.comment {
	padding:12px;
	width:100%;
	position:relative;
	background-color:#fcfcfc;
	border:1px solid white;
	color:#888;
	margin-bottom:25px;

	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;
}

.comment .name {
	font-size:18px;
	padding-bottom:10px;
	color:#ccc;
}

.comment .date {
	font-size:13px;
	padding:6px 0;
	position:absolute;
	right:15px;
	top:10px;
	color:#bbb;
}

.comment p {
	font-size:20px;
	line-height:1.5;
	overflow-x:hidden;
}