nav {    
  display: block;
  text-align: center;
}
nav li li{    
  display: block;
  text-align: left;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.nav a {
  display:block; 
  background: #fff; 
  color:#52d0c4; 
  text-decoration: none;
  padding: .8em 1.8em;
  /* text-transform: uppercase; */
  font-size: auto;
  letter-spacing: 2px;
  position: relative;
}
.nav {  
  vertical-align: top; 
  display: inline-block;
  border-radius: 6px;
}
.nav li { position: relative; }
.nav > li { 
  float:left; 
  margin-right: 1px; 
} 
.nav > li > a { 
  margin-bottom: 1px;
}
.nav li:hover > a {
  color: #000;
}
.nav li li:hover > a {
  color: #000;
  background: #999;
}
.nav > li:first-child  { border-radius: 4px 0 0 4px; } 
.nav > li:first-child > a { border-radius: 4px 0 0 0; }
.nav > li:last-child { 
  border-radius: 0 0 4px 0; 
  margin-right: 0;
} 
.nav > li:last-child >a{ border-radius: 0 4px 0 0; }

.nav li a:first-child:nth-last-child(2):before { 
  content:""; 
  position: absolute; 
  height:0; 
  width: 0; 
  border: 5px solid transparent; 
  top: 50%;
  right: 5px;
}
.nav li li a:first-child:nth-last-child(2):before { 
  content:""; 
  position: absolute; 
  height: 0; 
  width: 0;
  border: 5px solid transparent; 
  top: 50% ;
  right: 5px;
}

/* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  z-index: 999;
  left: -99999em;
  box-shadow: 10px 10px 10px #888888;
}
.nav > li:hover > ul {
  left: auto;
  padding-top: 5px  ;
  min-width: 100%;
}

.nav > li li:hover > ul { 
 /* margin-left: 1px */
  left: 100%;
  top: 0px;
}

/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: #52d0c4;
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-bottom-color: #000; 
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
  border-left-color: #52d0c4; 
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-right-color: #000;
  right: 10px; 
}