/* Go to top button */
.crunchify-top:hover {
  color: #fff !important;
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
}

.crunchify-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
  text-decoration: none;
  border-radius: 3.2rem;
  text-align: center;
  cursor: pointer;
}
/* End of Go to top button */